body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,select,img{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration:none;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
body{font-size:0.3rem;}
.top{
	width:100%;
	height:0.88rem;
	background:#333;
	color:white;
	font-size:0.35rem;
	position:fixed;
	top:0;
	left:0;
	z-index:9;
}
.top div{
	width:100%;
	height:100%;
	line-height:0.88rem;
	text-align:center;
}
#box{
	margin-top:0.88rem;
}
.bg-icon{
	width:0.64rem;
	height:0.64rem;
	display:block;
	background:url(../images/back-icon.png) no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0.1rem;
	left:0.1rem;
}
#back{
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
.current{
	color: #fff;
}
/*-----------------------优惠券内容  unactivity：失效优惠券   current是当前显示，没有隐藏---------------------------*/
#discountContent,#undiscountContent{
	margin:0 auto;
	display:none;
}
#discountContent.current,#undiscountContent.current{
	display: block;
}
#discountContent{
	margin-top: 1.08rem;
}
#undiscountContent{
	margin-top: 1.08rem;
}
.discountBox{
	margin:0 auto;
	width:6.7rem;
	height:2.1rem;
	background:url(../images/act_rebate.png) repeat-x;
	margin-bottom:0.2rem;
	background-size:auto 100%;
	position: relative;
	padding-top: 0.3rem;
}
.cont{
	width:6.7rem;
	height:1.64rem;
}
.left{
	height:1.64rem;
	line-height:1.64rem;
	width:29%;
	float:left;
	color:#FB4746;
	text-align:center;
	box-sizing:border-box;
	border-right:1px dashed #ccc;
}
.num{
	font-size:0.60rem;
	font-weight:bold;
}
.sign{
	font-size:0.3rem;	
}
.introduce{
	width:70%;
    float:left;
    padding-left:0.4rem;
    box-sizing:border-box;
}
.intro,.time{
	margin-top:0.2rem;
	font-size:0.24rem;
	color:#666;
}
.intro{
	line-height: 0.32rem;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.title{
	color:#333;
	margin-top:0.1rem;
}
.status{
	width:100%;
	height:0.32rem;
	line-height:0.32rem;
	font-size:0.2rem;
	color:#666;
	padding-left:0.1rem;
	position: absolute;
	bottom: 0px;
}
.look{
	margin-top:0.2rem;
	font-size:0.24rem;
	text-align:center;
	color:#666;
	padding-bottom:0.2rem;
}
.more{
	color:#D6A41D;
	overflow:hidden;
	cursor:pointer;
}
.discountBox.unactivity{
	background:url(../images/out_rebate.png) repeat-x;
	background-size:auto 100%;
}
.unactivity .left{
	color:#999;
}
.unactivity .intro,.unactivity .data{
	color:#666;
}
.loading {
	width:100%;
	position:absolute;
	height:100%;
	z-index:99;
	left:0;
	top:0.88rem;
}
.loading .middle {
	width:100%;
	position:absolute;
	height:6rem;
	text-align:center;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin:auto;
}
.middle img {
	width:2.1rem;
	margin:0 auto;
	margin-bottom:0.3rem;
	display:block;
}
.loadEffect{ 
	width:100px; 
	height:100px; 
	position:absolute; 
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0.88rem;
}
.loadEffect p{ 
	position: absolute; 
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:0.56rem;
	height:0.56rem;
	border:3px solid #f9c804;
	-webkit-animation:load 1s ease infinite;
}
@-webkit-keyframes load{
    0%{
        transform:rotate(-45deg);
    }
    100%{
        transform:rotate(315deg);
    }
}
.loadEffect span{
	color:0.26rem;
	color:#666;
	width:100%;
	display:block;
	text-align:center;
	position:absolute;
	bottom:0;
}
/*异常*/
.err_text{
	width:100%;
	text-align:center;
	color:#ccc;
}






body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,select,img{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration:none;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
body{font-size:0.3rem;}
.top{
	width:100%;
	height:0.88rem;
	background:#333;
	color:white;
	font-size:0.35rem;
	position:fixed;
	top:0;
	left:0;
	z-index:3;
}
.top div{
	width:100%;
	height:0.88rem;
	line-height:0.88rem;
	text-align:center;
}
#box{
	/*margin-top:0.88rem;*/
}
.bg-icon{
	width:0.64rem;
	height:0.64rem;
	display:block;
	background:url(../images/back-icon.png) no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0.1rem;
	left:0.1rem;
}
.back{
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
.current{
	color:#fff;
}
/*-----------------------优惠券内容  unactivity：失效优惠券   current是当前显示，没有隐藏---------------------------*/
#discountContent,#undiscountContent{
	margin:0 auto;
	display:none;
}
#discountContent.current,#undiscountContent.current{
	display:block;
}
#discountContent{
	margin-top:1.08rem;
}
#undiscountContent{
	margin-top:1.08rem;
}
.discountBox{
	margin:0 auto;
	width:6.7rem;
	height:2.1rem;
	background:url(../images/act_rebate.png) repeat-x;
	margin-bottom:0.2rem;
	background-size:auto 100%;
	position:relative;
	padding-top:0.3rem;
	cursor:pointer;
}
.cont{
	width:6.7rem;
	height:1.64rem;
}
.left{
	height:1.64rem;
	line-height:1.64rem;
	width:29%;
	float:left;
	color:#FB4746;
	text-align:center;
	box-sizing:border-box;
	border-right:1px dashed #ccc;
}
.num{
	font-size:0.50rem;
	font-weight:bold;
}
.sign{
	font-size:0.3rem;	
}
.introduce{
	width:70%;
    float:left;
    padding-left:0.4rem;
    box-sizing:border-box;
}
.intro,.time{
	margin-top:0.2rem;
	font-size:0.24rem;
	color:#666;
}
.intro{
	line-height:0.32rem;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.title{
	color:#333;
	margin-top:0.1rem;
}
.status{
	width:100%;
	height:0.32rem;
	line-height:0.32rem;
	font-size:0.2rem;
	color:#666;
	padding-left:0.1rem;
	position:absolute;
	bottom:0px;
}
.look{
	margin-top:0.2rem;
	font-size:0.24rem;
	text-align:center;
	color:#666;
	padding-bottom:0.2rem;
	position:relative;
	z-index:10;
	cursor:pointer;
}
.more{
	color:#D6A41D;
	cursor:pointer;
	position:relative;
	z-index:10;
}
.discountBox.unactivity{
	background:url(../images/out_rebate.png) repeat-x;
	background-size:auto 100%;
}
.unactivity .left{
	color:#999;
}
.unactivity .intro,.unactivity .data{
	color:#666;
}
.loading {
	width:100%;
	position:absolute;
	height:100%;
	z-index:99;
	left:0;
	top:0.88rem;
}
.loading .middle {
	width:100%;
	position:absolute;
	height:6rem;
	text-align:center;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin:auto;
}
.middle img {
	width:2.1rem;
	margin:0 auto;
	margin-bottom:0.3rem;
	display:block;
}
.loadEffect{ 
	width:100px; 
	height:100px; 
	position:absolute; 
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0.88rem;
}
.loadEffect p{ 
	position: absolute; 
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:0.56rem;
	height:0.56rem;
	border:3px solid #f9c804;
	-webkit-animation:load 1s ease infinite;
}
@-webkit-keyframes load{
    0%{
        transform:rotate(-45deg);
    }
    100%{
        transform:rotate(315deg);
    }
}
.loadEffect span{
	color:0.26rem;
	color:#666;
	width:100%;
	display:block;
	text-align:center;
	position:absolute;
	bottom:0;
}
/*异常*/
.err_text{
	width:100%;
	text-align:center;
	color:#ccc;
}












